extends layout

block content
  a(href="https://github.com/PDXNode/pdxnode")
    img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
  #intro
    .container
      #logo
      p PDXnode is hosted by Walmart Labs and meets 1st Thursday of the month.
  #main.pullout
    .container
      iframe(width="425", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;channel=rcs&amp;q=111+SW+5th+Avenue,+Suite+2800+Portland,+OR+97204&amp;ie=UTF8&amp;hq=&amp;hnear=111+SW+5th+Ave+%232800,+Portland,+Multnomah,+Oregon+97204&amp;gl=us&amp;t=m&amp;hl=en&amp;view=map&amp;z=14&amp;ll=45.522105,-122.676129&amp;output=embed")
      p New Relic is in the USBank building on the 28th floor, and it is awesome.

  #resources
    .container
      p Resources
      ul
        li
          a(href="http://www.meetup.com/nodepdx/", target="_blank") PDXnode Meetup
        li
          a(href="http://docs.nodejitsu.com/", target="_blank") docs.nodejitsu.com
        li
          a(href="http://howtonode.org/", target="_blank") How To Node

    .container(style="color: #aaa;")
      p Please improve on this site in any and all ways you'd like: Fork it. Improve it. Pull request it.
